html {
  --color-body: #686868;
  --color-main: #0970e5;
  --color-icons:rgb(175, 177, 181);
  --color-border:rgba(193, 193, 193, 0.705);
  --color-error:rgb(229, 112, 40);
 
  --linear-bg-1: linear-gradient(90deg, #06a7e7 0%, #3f4de3 80%);


  --bg-body-light: rgb(244, 244, 244);
  --bg-body-dark: rgb(237, 237, 240);

  --bg-button: #f9f9f9;
  --bg-banner:  rgba(250, 250, 250, 0.792);
  --bg-button-2: #f4f4f4;
  --bg-footer: rgb(7, 14, 61);

  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;


}






.dark {
  --color-body: #ffffff;
  --color-main: #ffc800;
   --color-border:rgba(39, 39, 39, 0.119);
   --color-error:rgb(255, 132, 94);

   
  --linear-bg-1:  #ffc800;

 
  --bg-body-light: rgb(68, 68, 68);
  --bg-body-dark: rgb(57, 57, 57);
  
  --bg-button: #141414;
  --bg-banner: #514f4fdd;
  --bg-button-2: #f4f4f45b;
  --bg-footer: rgb(27, 21, 14);

   background-color: var(--bg-body-dark);

}




.headerPrincipal {
  display: none;
  background: var(--bg-body-light);
  position: fixed;
  width: 70%;
  max-width: 330px;
  padding: 10px;
  height: 100%;
  z-index: 200;
  vertical-align: middle;

}



.headerPrincipal .container {
  width: 94%;
  height: 100%;
  padding-top: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.headerTitle {
  display: flex;
  flex-direction: column;
  font-family: 'Pacifico', cursive;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
}


.headerPrincipal .menu{
  display: flex;
  flex-direction: column;
}

.menu a {
  font-size: 1.1rem;
  display: flex;
  padding: 0.5rem;
  color: var(--color-body);
  border-radius: 5px;
  letter-spacing: 0.5px;
  -webkit-user-select: none;
  text-decoration: none;
  flex-direction: column;
  margin-top: 1.2rem;
  box-shadow: 0px 3px 6px -6px var(--color-2-body);
  -webkit-box-shadow: 0px 3px 6px -6px var(--color-2-body);
  -moz-box-shadow: 0px 3px 6px -6px var(--color-2-body);

}


.headerPrincipal p {
  color: var(--color-body);
  display: flex;
}


.headerPrincipal .active,
.headerPrincipal a:hover {
  background: var(--linear-bg-1);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;
  transition: 0.1s ease-out;
  text-shadow: 1px 1px 2px rgb(69, 69, 69);

}



.headerPrincipal i {
  color: #d6d6d6;
  margin-right: 1.2rem;
}



.hide{
  display: none;


}



section:nth-child(2) {
  background-color: var(--bg-body-light);
  
}


section:nth-child(3) {
  background-color: var(--bg-body-dark);
}

section:nth-child(4) {
  background-color: var(--bg-body-light);
  min-height: 100vh;
}

section:nth-child(5) {
  background-color: var(--bg-body-dark);
   
}

section:nth-child(6) {
  background-color: var(--bg-body-light);
  min-height: 100vh;
}













h1 {
  font-size: 2.6rem;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px #00000000;
  line-height: 4rem;
}


h2 {
  font-size: 2rem;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px #00000000;
  line-height: 3rem;
  
}




strong {
color: var(--color-main);
  font-weight: 500;

}




a{
  text-decoration: none;
}













.draw{
  display: none;
}









.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}


.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}


.active.fade-left {
  animation: fade-left 1s ease-in;
}


.active.fade-right {
  animation: fade-right 1s ease-in;
}









/* @media screen and (min-height: 738px) and (min-width: 872px){
  .skillsContainer,  .educationContainer{
    padding: 5% !important;
  } */























/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



.draw-container{
  display:none;
}

.draw-legend{
  opacity: 0;
  margin-top: 3px;
}


.draw-legend a{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px #00000000;
  font-weight: 900;
}

.draw-container:hover .draw-legend{
  opacity: 1 !important;
}

.draw-legend, .draw-legend a{
  font-size: 13px !important;
}



















.fadeOut {
  opacity: 0;
}

.hide {
  display: none;
}





footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--bg-footer);
  color: #ffffff;
  padding: 10%;

}

footer div, footer p{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



footer i {
font-size: 27px;
color: #ffffff;
}

footer .icon-section i:hover {
  transform: scale(1.1);
}




.copyright {
  color: var(--color-1);
  font-size: 13px;
  margin: 20px;

}







@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media screen and (min-width: 822px){
  .header-border{
    box-shadow: 0px 3px 6px -6px var(--color-2-body);
    -webkit-box-shadow: 0px 3px 6px -6px var(--color-2-body);
    -moz-box-shadow: 0px 3px 6px -6px var(--color-2-body);
  }

  .headerPrincipal {
    display: flex;
    width: 100%;
   max-width: 100%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
   justify-content: space-around;
   padding: 7px;

  
  }

  .headerPrincipal .active,
.headerPrincipal a:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-shadow: 0px 0px 0px rgba(69, 69, 69, 0);
}


  .menu li, .menu a, .menu p{
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
   justify-content: space-around;

  }

  .menu{
   width:730px;
   text-align: center;
   vertical-align: middle;
  justify-content: space-around;
  }

  
  .menu a {
    border-bottom: 0;
    margin-top: 0;
   
  }
  
  .headerPrincipal .container, .headerPrincipal .menu {
    flex-direction: row;
 
  }
  

  .headerTitle{
    display: flex;
    font-size: 1rem;
    height: 2.15rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;

  }
  
  footer{
    padding: 3%;
  }

  footer .icon-section{
    justify-content: center;
  }

  footer .icon-section i{
    margin-right: 12px;
    margin-left: 12px;
  }

}