.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/moon-background.jpg);
    background-position: center center;
}



.home_container p,
.aboutContainer p {
    color: var(--color-body);

}


.aboutContainer p {
    margin-top: 3vh;
    line-height: 2.1rem;
}

.greetingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50vh;
    min-height: 290px;
    padding: 12px 6% 12px 6% ;
    background-color: var(--bg-banner);
}


.greetingLines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 17vh;
    line-height: 2.3rem;
    max-height: 128px;
    min-height: 118px;
    border-radius: 15px;

}


.greetingLines p {
    color: var(--color-body);
    font-size: 1.2rem;
}





.home__social-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24vh;
    max-height: 177px;
    min-height: 140px;
    text-align: center;


}


.home__social-section p,
.home__social-section i {
    display: inline;
    font-size: 1rem;
    color: var(--color-body);
}








.socialItem {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.389),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  line-height: 1.8rem;
  border-radius: 6px;
    background: var(--bg-button)
  
}

.socialItem i {
    display: none;
}


.socialItem:hover {
    background: var(--linear-bg-1);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #ffffff;
    text-shadow: 1px 1px 2px rgb(69, 69, 69);
    font-weight: 600;
}




.socialItem:hover p,
.socialItem:hover i {
    color: #ffffff;
} 
.arrowContainer {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 0.6rem);
    color: #ffffff;
}


.arrowContainer i {
    font-size: 1.2rem;
}

.home__drawContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}



.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 0 6% 0 6% ;
}


.aboutContainer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.aboutContainer .draw-container{
    display: flex;
    flex-direction: column;

    align-items: center;
   }

.aboutDraw{
    display: flex;
    height: 170px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/about.png);
    
  }
  
  .dark .aboutDraw{
  
    background-image: url(../img/about_dark.png);
    
  }
  


@media screen and (min-width: 822px) {

    .home_container {
        height: calc(100vh-40px);
    }


    .greetingContainer {
        padding-top: 5%;
        padding-bottom: 3%;
        min-height: 210px;
        max-height: 220px;
    }

    .greetingLines {
        max-height: 60px;
        min-height: 42px;
    }

    .home__social-section {
        flex-direction: row;
        justify-content: center;
   
        max-height: 40px;
        min-height: 30px;
    }

    .socialItem {
        padding: 6px 12px 5px 12px;
        background-color: var(--bg-button);
        color: var(--color-body);    
         margin-right: 20px;
         margin-left: 20px;

    }

    .socialItem i {
        display: inline;
        padding: 7px;
        color: var(--color-body);
    }


    .aboutContainer {
        
        height: 99vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     

    }

    .aboutDraw{
        margin-left: 80px;
        height: 270px;
        width: 320px;
    
        
      }
      


.aboutContainer__text{
    width: 36vw;

}

    

}




@media screen and (max-height: 622px) {


.aboutDraw{
    display: flex;
    height: 110px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/about.png);
  }

}


@media screen and (max-height: 502px){
  .arrowContainer{
    display: none;
  }

  .aboutContainer .draw-container{
    display: none;
  }
  
    }
  
