.home_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/moon-background.jpg);
    background-position: center center;
}



.home_container p,
.aboutContainer p {
    color: var(--color-body);

}


.aboutContainer p {
    line-height: 2.4rem;
}

.greetingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50vh;
    min-height: 320px;
    padding: 10%;
    background-color: var(--bg-banner);
}


.greetingLines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 17vh;
    line-height: 1.9rem;
    max-height: 130px;
    min-height: 122px;
    border-radius: 15px;

}


.greetingLines p {
    color: var(--color-body);
    font-size: 1.3rem;
}





.home__social-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24vh;
    max-height: 180px;
    min-height: 150px;
    text-align: center;


}


.home__social-section p,
.home__social-section i {
    display: inline;
    font-size: 1rem;
}


.socialItem {
    background-color: var(--bg-button);
    border-radius: 7px;
    line-height: 1.8rem;

}


.socialItem i {
    display: none;
}


.socialItem:hover {
    background: var(--linear-bg-1);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #ffffff;
    transition: 0.5s ease-out;
    text-shadow: 1px 1px 2px rgb(69, 69, 69);
    font-weight: 600;
}


.socialItem:hover p,
.socialItem:hover i {
    color: #ffffff;
}


.arrowContainer {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 0.6rem);
    color: #ffffff;
}


.arrowContainer i {
    font-size: 1.2rem;
}

.home__drawContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}



.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    height: max-content;
    padding: 10%;
}


.aboutContainer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.aboutContainer p {
    margin-top: 30px;
}



@media screen and (min-width: 822px) {

    .home_container {
        height: calc(100vh-40px);
    }


    .greetingContainer {
        padding-top: 5%;
        padding-bottom: 3%;
        min-height: 220px;
        max-height: 230px;
    }

    .greetingLines {
        max-height: 50px;
        min-height: 32px;
    }

    .home__social-section {
        flex-direction: row;
        justify-content: center;
   
        max-height: 40px;
        min-height: 30px;
    }

    .socialItem {
        padding: 6px 12px 5px 12px;
        background-color: var(--bg-button);
        color: var(--color-body);    
         margin-right: 20px;
         margin-left: 20px;

    }

    .socialItem i {
        display: inline;
        padding: 7px;
        color: var(--color-body);
    }


    .aboutContainer {
        padding-top: 5%;
        padding-bottom: 3%;
        height: calc(100vh-40px);
    }

}