.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  min-height: 700px;
  padding: 10%;
  color: var(--color-body);
}


.projectsContainer h2{
  padding: 25px 0px 25px 0px;
}


.projectsContainer h3{
  font-size: 1.5rem;
  
}


.projectsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  text-align: center;
  max-width: 100%;
  background-color: var(--bg-banner);
  border: 1px solid var(--color-border);
  margin-bottom: 18px;
  border-radius: 10px;

}


.hangmanImg{
  width: 100%;
  height: 200px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/projects/hangman.png);
  background-position: center center;
  align-items: flex-end;
  flex-direction: column-reverse;

}

.encryptorImg{
  width: 100%;
  height: 200px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/projects/text-encryptor.png);
  background-position: center center;
  align-items: flex-end;
  flex-direction: column-reverse;

}


.portfolioImg{
  width: 100%;
  height: 200px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/projects/portfolio.png);
  background-position: center center;
  align-items: flex-end;
  flex-direction: column-reverse;

}



.box {
  background-color: var(--bg-body-light);
  display: flex;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;
  justify-content: center;
  text-align: center;
  color: var(--color-main);
font-size: 1.3rem;

}

.projectsItem__iconsContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 16px;
  font-size: 13px;
  border-top: 1px solid var(--color-body);
}


.projectsItem__iconsContainer i{
  display: none;
}

.projectsItem__iconItem:hover {
  color: var(--color-main);
}


.projectsItem__buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
}


.projectsItem__buttonContainer ul {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.projectsItem__buttonContainer a{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid rgba(140, 140, 140, 0.801);
  background-color: var(--bg-button-2);
  padding: 10px;
  border-radius: 5px;
  color: var(--color-body);
}


.projectsItem__buttonContainer a:hover{
 background-color: var(--color-main);
 color: #fff;
}

.projectsItem__buttonContainer i{
  margin-right: 8px;
}


  /* #projects>div{
    vertical-align: middle;
  }
  
  
  
  #projects ul:hover{
    transform: scale(1.02);
  
  
  }
  
  
  .projects-grid{
    display: grid;
      grid-template-areas:
          "header"
          "container";
      grid-template-columns: auto;
      grid-template-rows: 50px auto
      ;
  }
  
  
  .projects-grid__menu{
    display: flex;
    grid-area: header;
    align-items: center;
    padding: 0 2rem;
    background: #ffffff27;
  }
  
  .projects-grid__menu li{
    padding: .5rem 1rem;
  }
  
  
  .projects-grid__container{
    display: flex;
    grid-area: container;
  }
  
  
  .projects-grid__container:nth-child(1) {
    background: url(../img/fortnite.jpg) center / cover no-repeat;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  
  #projects ul li:hover{
    font-weight: 600;
    color: var(--color-1-main);
  
  }
  
  #projects nav .active{
    color: var(--color-1-main);
    font-weight: 600;
  }
  
  
  #projects .text-box {
    padding: 20px; 
   
    background: var( --color-2-bg);
    border-radius: 20px;
      background-color: var( --color-2-bg);
      box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);
      -webkit-box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);
      -moz-box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);
  
  }
  
  
  
  #projects h3:hover{
    color: var(--color-1-main);
  }

#projects p{
    color: var(--color-2-body);
  }
  
  
  
  #projects .icon-section{
  color: var(--color-2-body);
  font-weight: 500;
  }
  
  .header-projects{
    text-align: left;
  }
  
  
  
  .header-projects li{
    display: inline-block;
    color: var(--color-1);
    margin-right: 13px;
    margin-top: 12px;
    margin-bottom: 7px;
  }
  
  
  #projects h2{
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: var(--color-1-main);
    border: 0; 
  }
  
  #projects h3{
    font-size: 16px;
  }
  
  #projects-description{
    margin-top: 20px;
    margin-bottom: 18px;
  }
  
  
  .research-description{
   margin-top: 11px;
    font-size: 18px;
    line-height: 1.2rem;
  }
  
  .research-title{
    font-size: 20px !important;
    margin-bottom: 20px !important;
    max-width:460px ;
  }
  
  
   #projects .draw-container{
     margin:70px;
     vertical-align: bottom;
  }
   
  
  #projects-draw{
    height: 200px;
  }
  
  #projects .draw-container a, #projects .draw-container p{
    color: var(--color-2-body);
  }
  
  .project-info{
    vertical-align: top;
  }
  
  
  
  #projects .img-div {
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    margin: 20px;
    border-radius: 12px;
  
  
  }
  
  
  #projects-gallery .tag-container{
    position: relative;
    left:160px;
  }
  
  
  #research-gallery .tag-container{
    position: relative;
    left:210px;
  }
  
  #projects .img-text-box{
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--color-2-bg);
    border: 0;
    border: 1px solid #5e5e5e4f;
    border-radius: 12px;
  
  }
  
  #projects .draw-container{
    display: inline-block !important;
  }
  
  .button-div{
    margin-top: 4px;
    margin-bottom: 10px;
    display: inline-block;
    background: var(--linear-bg-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px #00000000;
  }
  
  #projects .button-div a{
  
    display: inline-block;
    padding:  8px;
    margin: 8px;
    margin-right: 4px;
    margin-left: 4px;
    
    
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
    background-color: #c6c3c30f;
  
  
  
  }
  
  
  
  
  
  
  
  
  
  
  
  #projects .button-div a:hover{
    transform: scale(1.06);
    background: var(--linear-bg-1)!important;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #ffffff;
  
  
  
  }
  
  
  #projects .button-div a i, #projects .button-div a p{
  font-size: 15px;
   
    
  }
  
  
  #projects .button-div a p{
    display: inline-block;
    color:  var( --color-2-body);
    margin-top: 2px;
    font-weight: 600;
   
    
  }
  
  #projects .button-div a:hover p{
    color: var(--color-1) !important;
  }
  
  #projects .icon-section{
    display: block;
  }
  
   */