.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 10%;
  color: var(--color-body);
}


.projectsContainer h2 {
  padding: 25px 0px 25px 0px;
}


.projectsContainer h3 {
  font-size: 1.5rem;

}




.projectsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  text-align: center;

  background-color: var(--bg-banner);
  border: 1px solid var(--color-border);
  margin-bottom: 18px;
  border-radius: 10px;

}


.projectsItem:hover {
  border-color: var(--color-main);
  transform: scale(1.007);
}



.hangmanImg,
.encryptorImg,
.portfolioImg {
  width: 100%;
  max-width: 600px;
  height: 30vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  align-items: flex-end;
  flex-direction: column-reverse;

}



.hangmanImg {
  background-image: url(../img/projects/hangman.png);
}

.encryptorImg {
  background-image: url(../img/projects/text-encryptor.png);
}


.portfolioImg {
  background-image: url(../img/projects/portfolio.png);
}



.box {
  background-color: var(--bg-body-light);
  display: flex;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;
  justify-content: center;
  text-align: center;
  color: var(--color-main);
  font-size: 1.3rem;
  border: 2px solid var(--bg-body-light);

}


.projectsItem__info p{
  display: none;
}

.projectsItem:hover .projectsItem__info p{
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  font-size: 1rem;
}


.projectsItem__info h3{
  display: none;
}






.projectsItem__description {
  margin-top: 15px;
  font-size: 0.9rem;
  line-height: 1.3rem;

}


.projectsItem__iconsContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 30px;
  text-align: center;
  margin: 10px;

}



.usedTech{
  display: flex;
  align-items: center;
  background-color: var(--bg-body-dark);
  border-radius:10px ;
  font-size: 0.8rem;
  padding: 1%;
}



.usedTech i {
  display: none;
}

.projectsItem__iconItem:hover {
  color: var(--color-main);
}


.projectsItem__buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.projectsItem__buttonContainer ul {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.projectsItem__buttonContainer a {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
  background-color: var(--bg-button-2);
  padding: 10px;
  border-radius: 5px;
  color: var(--color-body);
}


.projectsItem__buttonContainer a:hover {
  background-color: var(--color-main);
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(69, 69, 69);
  transition: 0.1s ease-out;
  transform: scale(1.007);
}

.projectsItem__buttonContainer i {
  margin-right: 8px;
}





@media screen and (min-width: 822px)and (min-height: 522px) {


  .projectsContainer {
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .projectsItem {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .box {
    display: none;

  }


  .projectsItem__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .projectsItem .projectsItem__info p{
    display: flex;
    margin-bottom: 17px;
    font-size: 1rem;
  }

  .projectsItem__info h3{
    display: flex;
   justify-content: center;
   color: var(--color-main);
  }

  .hangmanImg,
  .encryptorImg,
  .portfolioImg {
    max-width: 400px;
    height: 270px;


  }


.usedTech{
  padding: 10px;
}


  .usedTech i {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 6px;
  }

  .projectsItem__iconsContainer {
    flex-direction: column;
    width: 260px;
    padding: 20px;
    border: 0;

  }

  /* .projectsItem__buttonContainer a{
  transform: scale(1.2);
  margin-right:25px ;
} */



}





@media screen and (min-width: 1022px) {

  .projectsContainer {
    padding-left: 19%;
    padding-right: 19%;
  }

}




@media screen and (min-width: 422px) and (max-height: 522px){
  .hangmanImg,
  .encryptorImg,
  .portfolioImg {
    max-width: 1000px;
    height: 40px;
  
  }




}
