html {
  --color-1: #ffffff;
  --color-1-main: #3a4de2;
  --color-1-bg: rgb(28, 40, 74);

  --linear-bg-1:  linear-gradient(90deg, #009dff 0%, #3a47d5 100%);
  --linear-bg-2:  linear-gradient(90deg, #009dff 0%, #3a47d5 100%);
  --color-2-body:#686868;
  --color-2-bg: #f9f9f9;
  --color-2-bg-banner:#ffffff3e;
  --color-2-bg-img-div:#686868f0;


  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}




.dark {
  --color-1: #ffffff;
  --color-1-main: #5849ff;
  --color-1-bg: rgb(13, 17, 30);

  --linear-bg-1:  linear-gradient(90deg, #4289fb 0%, #7159fc 100%);
  --linear-bg-2:  linear-gradient(90deg, #3c7feaed 0%, #634ce6ea 100%);
  --color-2-body:#ffffff;
  --color-2-bg: #242424;
  --color-2-bg-banner:#4a4a4af0;
  --color-2-bg-img-div:#ffffff56;
}

i{
  font-size: 18px;
  margin: 5px;
}


body {
  background: var(--color-2-bg);
  width: 100%;


}

.banner{
 
    z-index: 0;
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    text-align: center;
}




.parallax{
    /* The image used */
    background-image: url(../img/banner4.jpg) !important;
  ;
    /* Set a specific height */
  
    width: 80%;
    min-height: 590px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;

}

.parallax p{

    font-size: 2em;
}

nav{
  width: 100%;
}

a {
    text-decoration: none;
  }






.float-buttons{
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  right: 0px;
  bottom: 10%;
  background-color: var(--color-2-bg);
  box-shadow: 1px 2px 4px 1px #686868;
  border-right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}



.arrow-index{
display: block;
width: 100%;
margin-top: 10px;
background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}



.text-options{
  position: relative;
  top:50px;
  transform: rotate(-90deg);
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  user-select: none;
}

#float-text i{
  display: block;
  padding: 3px;
  font-size: 24px;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 

}



.fade-out{
  display: none;
}


.theme-button,.lang-button{
 margin-top: 16px;
 margin-bottom: 16px;
 padding-right: 20px;
 padding-left: 14px;
}











#hidden-buttons p{
  color: var(--color-2-body);
  margin-bottom: 9px;
}


.lang-list:hover{
  transform: scale(1.05);
}



.float-buttons p{
  font-size: 15px;
}


header li{
    list-style: none;
    display: inline-block;
    text-align: left;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var( --color-2-bg);
    border-width: 1px;
    border-style: solid;
    border-image: var(--linear-bg-1) 1;
    border-top:0;
    border-left:0;
    border-right:0;




    padding: 12px;
    text-align: right;
    vertical-align: middle;
 }

nav ul{
     display: inline-block;
     margin-right: 40px;
}


#arrow-menu{
  display: none;
}

.menu i{
  display: none;
}

header div, nav li{
      display: inline-block;
}



header nav a {
    display: inline-block;
    padding: 7px 10px;
    margin-right: 6px;
    font-size: 1.1rem;
    color: var(--color-2-body);
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: semi-bold;
    user-select: none;
}

header p{
  display: inline;
  margin: 3px;
  color: var(--color-2-body);
}

header nav a:hover{
  transform: scale(1.1);
}




header nav .active{
    background: var(--linear-bg-1);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #ffffff; 
    transition: 0.5s ease-out;
    transform: scale(1.04);
}









#button-more{
  display: none;
  font-weight: 900;
   background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



.lang-list {
	display: inline-block;
  background: var(--color-2-bg);



  width: 74px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
 
  border-radius: 10px;
  vertical-align: middle;
  font-size: 1rem;
  color: var( --color-2-body);
  letter-spacing: 0.5px;
	border: 1px solid var(--color-1-main);
	cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  }
  









  .theme-button label {
    display: inline-flex;
    width: 65px;
    height: 23px;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px;
    background: #e0dfdf;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
  }




  .theme-button label i {
    font-size: 18px;
  }

  .theme-button label .fa-sun {
    background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bolder;
    transition: 0.8s;
    opacity: 1;
    transform: translateX(37px);
  }


  .theme-button label .fa-moon {
    color: #fff;
    opacity: 0;
    transition: 0.8s;
  }



  .theme-button label .ball {
    position: absolute;
    display: block;
    width: 23px;
    height: 23px;
    top: 3px;
    left: 3px;
    background: #fff;
    border-radius: 50%;
    transition: 0.8s;
  }

.theme-button label {
  transition: 0.3s;
}
.theme-button input:checked + label {
  background: var(--linear-bg-1);
}
.theme-button input:checked + label .ball {
  transform: translateX(48px);
}
.theme-button input {
  display: none;
}



.theme-button input:checked + label .fa-sun {
    transform: translateX(37px);
    opacity: 0;
  }
  .theme-button label .fa-moon {
    transform: translateX(-37px) ;
  }
  .theme-button input:checked + label .fa-moon {
    transform: translateX(0), rotate(0);
    opacity: 1;
  }
  











  
  
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


section>div{
  width: 90%;
  margin: 10px;

}



section:nth-child(2) {
  color: var( --color-2-body);
  
}
section:nth-child(3) {
  color: var( --color-2-body);
}
  
section:nth-child(4) {
  color: var( --color-2-body);
}

section:nth-child(5) {
  color: var(--color-2-bg);
  background: var(--linear-bg-2)
}

section:nth-child(6) {
  color: var( --color-2-body);
}






section{
  text-align: center;
  align-content: center;

}




section .container {

  text-align: center;
  align-content: center;
}


section h1 {
  font-size: 3rem;
  margin: 20px;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


section h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
  line-height: 3rem;
  font-weight: 500;
  padding: 10px;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




section .text-container {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 95% !important;
}

.text-box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
  padding: 10px;
  width: 290px;
  height: 175px;
  border-radius: 20px;


  }




#about .text-box:hover, #education .text-box:hover, #skills .text-box:hover, #contact .text-box:hover{
  transform: scale(1.05);
}




section .text-container .text-box h3 {
  font-size: 15px;
  line-height: 1.2em;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 8px;
  color: var(--color-2-body);
  font-weight: 700;

}





section .text-container .text-box p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 6px;
  color:  var( --color-2-body);

}


section .text-container .text-box div{
  display: inline-block;
  margin-right: 5px;
} 

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}


.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}


.active.fade-left {
  animation: fade-left 1s ease-in;
}


.active.fade-right {
  animation: fade-right 1s ease-in;
}




.text-box-description{
  font-size: 14px !important;
}

.icon-section{
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  border-bottom:0;
  border-left:0;
  border-right:0;
  margin-top: 12px;

}


.icon-div{
  margin: 3px;
  font-size:12px ;
  font-weight: 900;
  
}

.icon-div i{
  font-size: 25px;
  
  
}

.draw-legend{
  opacity: 0;
  margin-top: 3px;
}


.draw-legend a{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.draw-container:hover .draw-legend{
  opacity: 1 !important;
}

.draw-legend, .draw-legend a{
  font-size: 13px !important;
}


.draw-container{
  display: inline-block;
  vertical-align: top;
}



.draw{
  height: 230px;
  vertical-align: text-top;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
 
}

#earth{
  height: 280px;
}




#home .icon-section{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .text-box{
  vertical-align: top;
  width: auto;
  height: auto;
  margin-bottom: 5vh;
}

#home p{
  color:var(--color-2-body);
  font-size: 23px;
}


.icon-div:hover{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: scale(1.05);

}

#home div{
  display: inline-block;
}

header p, i{
  font-size: 1.1rem;
  color: var(--color-2-body);
}

#home h2{
  display: block;
  font-size: 3em !important;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
 


#home .icon-section, #home .icon-div{
  border: 0 !important;
  padding: 5px !important;
}


#home a{
  display: inline-block;
  color: var(--color-1-main);
 
  font-size: 14px;

}

.arrow-container{
  position: absolute;
  bottom: 0px;
 }


.arrow-container i{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about .text-box{
  width: 90%;
  height: auto;
  max-width: 500px;
 
}






#about .text-box p{
  font-size: 18px;
  line-height: 1.6em;
  padding: 8px;
}


strong{

  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


#skills-title-text{
  margin: 40px;

  
}


section>div h2{
 padding: 2px !important;
}

#skills>div:nth-child(1){
  width: 63% !important;
  max-width:560px !important ;
}

#skills>div:nth-child(2){
  width: 14% !important;
  margin-left: 50px;
}


.container-skills{
  display: inline;
  text-align: center;
 
}


#skills .container-skills .text-box{
  background: #cbcaca44;
  width: 150px;
  height: 153px;
  margin-right:10px ;
  margin-bottom: 18px;
}

.container-skills .icon-div, .container-skills h3{
  font-weight: 100 !important;
}

.container-skills .icon-div:hover, .container-skills .text-box:hover h3{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
}


#skills>div:nth-child(1){
  margin: 1px;
  padding: 2px;
  width: 50% ;

  background-color: var( --color-2-bg);
  
}

#skills ul, #skills li{
  text-align: left;
}



.container-skills p{
  margin: 5px;
  text-align: left;
}



#about p{
  font-size: 1.2em;
  text-align: left;

}

#about .draw-container{
  margin-top: 20px;
}

#hobbies{
  padding: 0;
}

#hobbies-name{
  margin: 4px;
  display: none;
}

#hobbies .text-box{
  display: block;
  text-align: left;
  height: auto;
  width: 100%;
  background: var(--linear-bg-2);
  text-align: center !important;
  margin: 0;
  align-items: center;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: #ffffff !important;

}



.hobbie-container{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding: 12px; 
  align-items: center;
  text-align: center;
  color: #ffffff !important;
}


.hobbie-container p{
font-size: 12px !important;
color: #ffffff !important;
}

.hobbie-container i{

  font-weight: 700 !important;
  text-align: center;
  color: #ffffff;
}


.hobbie-container:hover{
  transform: scale(1.1);
}

.hobbie-container:hover p{
  opacity: 1;

}

#hobbies-title{
  text-align: center;
  color: #ffffff !important;
  font-size: 28px;
  margin-top: 25px;
  padding: 5px;
 
  border-bottom: 1px solid  #ffffffc2;
}

#hobbies-description{
  margin: 18px;
}







.img-text-box{
  height: 10vh;
  margin-bottom: 10px;
  background-color: var(--color-2-bg);
  border: 0;
  border-radius: 12px;
  box-shadow: 0px 5px 5px -4px rgba(46,46,46,0.75);
  -webkit-box-shadow: 0px 5px 5px -4px rgba(46,46,46,0.75);
  -moz-box-shadow: 0px 5px 5px -4px rgba(46,46,46,0.75);

}


#education .text-box{
  height: auto;
  width: 10wh;

}



#projects>div{
  vertical-align: middle;
  margin-top: 20vh;
}

#projects .text-box {
  display: inline-block;
  padding: 20px; 
  width: 540px ;
  height: 230px;
  margin-top: 28px;
  
  background: var( --color-2-bg);
  border-radius: 20px;
    background-color: var( --color-2-bg);
    box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);
    -webkit-box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);
    -moz-box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);

}


.projects-gallery{
  width: auto;
  height: auto;
  vertical-align: top;
}



/* Slideshow container */
.slideshow-container {
  height: auto;
 
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 7px;
  position: relative;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top:-150px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left:266px;
  border-radius:0 20px 20px 0;
 
}


/* Position the "next button" to the right */
.prev {
  left:-236px;
  border-radius: 20px 0 0 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;
}



/* Number text (1/3 etc) */
.numbertext {
  position: relative;
  top:57px;
  left:32px;
  color: var(--color-2-body);
  font-size: 12px;
  margin: 0 !important;
  padding: 0 !important;
  width: fit-content !important;
}


.slide-circles{
  position: relative;
  top: -20px;
  display: block;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.projects-gallery .active, .dot:hover {
  background-color: #ffffff;
}

.projects-gallery:hover, .img-div:hover{ 
  transform: scale(1.05);
}


  #projects h3:hover{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






#projects p{
  color: var(--color-2-body);
}



#projects .icon-section{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-projects{
  text-align: left;
}



.header-projects li{
  display: inline-block;
  color: var(--color-1);
  margin-right: 13px;
  margin-top: 12px;
  margin-bottom: 7px;
}


#projects h2{
  

  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;
  border: 0; 
}

#projects h3{
  font-size: 16px;
}

#projects-description{
  color: var(--color-1) !important;
}


 #projects .draw-container{
   margin:70px;
   vertical-align: top;
}
 

#projects-draw{
  height: 200px;
}

#projects .draw-container a, #projects .draw-container p{
  color: var(--color-1);
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff; 
}

.project-info{
  vertical-align: top;
}



#projects .img-div {
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  margin: 20px;
  border-radius: 12px;


}


#projects .img-text-box{
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-2-bg);
  border: 0;
  border: 1px solid #5e5e5e4f;
  border-radius: 12px;

}

.projects-gallery, #projects .draw-container{
  display: inline-block !important;
}

.button-div{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

#projects .button-div a{

  display: inline-block;
  padding:  8px;
  margin: 8px;

  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
  font-size: 16px;
  font-weight: 900;
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  cursor: pointer;



}











#projects .button-div a:hover{
  transform: scale(1.06);
  background: var(--linear-bg-1)!important;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;



}


#projects .button-div a p{
  display: inline-block;
  color:  var( --color-2-body);
  margin-top: 2px;
  
}

#projects .button-div a:hover p{
  color: var(--color-1) !important;
}

#projects .icon-section{
  display: block;
  margin-top: 40px;
}



















#contact p, #contact a{
  display: inline;
  text-decoration:none;
  font-size: 19px;
  line-height: 25px;
}

#mail{
display: inline;
  text-decoration: none;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#mail:hover{
  transform: scale(1.5);
}





.contact-info{
  display: inline-block;
  width: 90%;
  max-width: 420px;
  margin-right:70px;
}

.form-container{
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
  width:380px;
  height: 485px;
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  padding:6px;
  box-shadow: 7px 5px 12px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 7px 5px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 5px 12px -1px rgba(0,0,0,0.75);
}


form :nth-child(1){
  margin-top: 20px;
}


.input-contacto{
  background: var(--color-2-bg);
  vertical-align: middle;
  color:var( --color-2-body);
  border: 1px solid  var( --color-2-body);
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  margin-top: 5px;

}



.input-contacto::placeholder{
  font-family: 'Montserrat', sans-serif;
  color:  var( --color-2-body);
}



.contact-label{
  background: var(--color-2-bg)!important;
  position: relative;
  display: block;
  top: 14px;
  left: 38px;
  padding: 3px;
  width: fit-content;
  font-size: 11px;
  color: var(--color-2-body);
  font-weight: 500;
}





.input-contacto:focus{
  outline: none !important;
  font-family: 'Montserrat', sans-serif;
  border: 1.7px solid  var(--color-1-main);
}


.error-form{
	border: 1.5px solid  #e48704;
}


.error-form:focus{
	border: 1.7px solid  #e48704;
}


form span{
	display: block;
	color: #ea8b07;
  font-weight: 600;
	margin-top: 5px;
  font-size: 12px;
}




.enviar{
  width: 40%;

  min-width: 140px;
  position: relative;
  top: 20px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color:var(--color-2-bg);
  border:none;
  border-radius: 5px;
  cursor:pointer;
  margin-bottom: 10px;
}

.enviar:enabled{
  background-color:var(--color-1-main);
}

.enviar:enabled:hover{
  background-color:var(--color-1-main);
  transform: scale(1.06);
}



.enviar:disabled{
  background-color: #979797;
}


.fadeOut{
  opacity: 0;
}

.hide{
 display: none;
}




#message-success i{
  margin-top: 100px;
  margin-bottom: 20px;
  display: block;
  color: #0ddf48;
  font-size: 140px;
}

#message-success p{
  margin: 20px;
}

footer{
  text-align: center;
  background:var(--color-1-bg);
  padding:40px;
}


footer .icon-section{
  border: 0;

}

footer .icon-section i {
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;
}

footer .icon-section i:hover{
  transform: scale(1.8);
}




.copyright{
  color:var(--color-1);
  font-size: 13px;
  margin:20px;

}







@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



@media screen and (max-width: 1222px){







section>div{
  margin: 0 !important;
  padding: 0 !important;
}


#hobbies-name{
  display: block;
}

.hobbie-container{
  padding: 8px;
}


.hobbie-container p, #hobbies-description{
  display: none;
}

#education .text-box{
  height: auto;
  vertical-align: middle;
  text-align: left;

}


#education .img-text-box{
  height: 5vh;
  text-align: left;
  margin: 0 !important;
  padding: 0 !important;

}


#education .text-box p, #education .text-box h3, #education .text-box img{
display: inline-block !important;
vertical-align: middle;
text-align: left;
margin: 0 !important;
padding: 0 !important;

}





#projects .draw{
  height: 150px;
}





}








@media screen and (max-width: 1072px){

 


  .form-container{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    box-shadow: 1px 12px 12px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 12px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 12px 12px -1px rgba(0,0,0,0.75);
  }
  }
  




  @media screen and (max-width: 872px){

    .menu{
      position: fixed;
      bottom: 0;
  
      width: 100%;
      text-align: center;
      background-color: var(--color-2-bg);
      padding: 1vh;
      padding-bottom: 2px;
     border-top: 1px solid #b1b1b1;
    }
    


    .arrow-index{
      margin-top: 5px;
    }

    .menu i{
      font-size: 22px ;
    }

  #button-more{
    display: inline;
  }
  
  

  
  
  #hobbies i{
    padding-right: 10px;
  }
  
  
  #hobbies-name{
    transform: rotate(-90deg);
    position: relative;
    font-weight: 800;
    left:40%;
    top: 150px;
  }
  
  
  
  header{
    background: none !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  
  #earth{
    padding:2px;
  }
  

  
  
  .float-buttons{
    user-select: none;
    bottom:30%;
  }
  
  
  .menu ul{
    margin-left:8%;
  }
  
  .menu li{
    user-select: none;
    padding: 0;
    margin: 0;
  }
  
  .menu i, .menu p{
    display: block;
    text-align: center;
    color: #a9a9a9;
    padding: 0;
    margin: 0;
    font-size: 14px;
    user-select: none;
  }
  
  .menu p{
    font-size: 13px;
    margin-top: 5px;
  }
  .contact-info{
    margin-right: 0;
    margin:50px;
  
  }
  
  
  #about .text-box{
    height: auto !important;
  }
  
  #skills-title-text{
    border: 0;
    margin-bottom: 10px;
  }

  #education .img-div{
    display: none !important;
  }
  
  .contact-info{
  
    margin:0px;
  }

  .button-div a{
    padding: 2px !important;
    padding-right: 4px !important;
  }
  

  footer{
    height: 120px;
  }
  
  
}


@media screen and (max-height: 738px) and (min-width: 674px){

  section{
    min-height: 110vh;
  }

  #projects .img-div, #projects img{
    height: 100px !important;
  }

  #projects .text-box{
    height: 185px;

  }

  #projects .icon-section{
    margin-top: 2px;
    padding: 8px;
  
  }
  
  .icon-section i{
    font-size: 22px;
  }
  
  }


@media screen and (max-width: 392px){
 

  .menu i{
    font-size: 20px !important;

   
  }


  
  .menu a{
   
    padding: 7px !important;
    margin: 1px !important;
 
  }



  #projects .text-box{
    height: 310px !important;
  }

  #projects .icon-section{
    position: relative;
    top:50px;
  }

  .next, .prev{
    top:-170px !important;
    transform: scale(0.8);
    
  }
}


@media screen and (max-width: 639px){



  .menu p{
    display: none;
  }

  .menu i{
    font-size: 19px ;
    padding: 2wh;
    margin: 2wh ;
    margin-bottom: 2px;
  }

.menu a{
  padding: 2wh;
  margin: 2wh;
}

  #education .text-box{
    width: 90%;
  
  }



  #projects-description{
  
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .draw-container{
    display: none;
  }

  #earth{
   
    height: 12vh !important;
  }

  .enviar{
    top: 0px;
  }

}


@media screen and (max-height: 978px) and (max-width:1022px){

  
  .draw-container{
    display: none;
  }



  h2{
    font-size: 33px !important;
  }

  #about p, .contact-info p,  .contact-info a{

    font-size: 16px !important;

  }




  #earth{
    width: auto;
    height: 30vh;
  }



  #projects .draw-container{
    display: none !important;
  }




  .form-container{
    width: 80%;
    margin-top: 1vh;
    border: 0;
    box-shadow: 0px 0px 0px 0px #474747;
  }

  
    #message{
      height: 5vh;
      min-height: 100px;
    }
}


@media screen and (max-height: 738px) and (max-width: 872px){


#skills .container-skills .text-box{
  width: 130px;
  max-height: 123px;
  margin-right:10px ;
  margin-bottom: 8px;
}


#skills .container-skills p{
  font-size: 10px;
}

#skills .container-skills i{
  font-size: 14px;
}
#skills .container-skills h3{
  font-size: 14px;
}






.form-container{
  height: 425px;
}

#contact{
  min-height: 115vh;
}

}


@media screen and (max-width: 872px) and (max-height: 580px){
.menu{
  display:none;
}


#arrow-menu{
  display: block;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left:48%;
  background-color: var(--color-2-bg);
  box-shadow: 1px 2px 4px 1px #686868;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#arrow-menu i{
  font-size: 20px;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2px;
  font-weight: 800;
}



}



@media screen and (max-height: 700px) and (max-width:520px){


section>div{ 
    position: relative;
    top:-35px;
  }

 #home>div{ 
    position: relative;
    top:-45x;
  }

  #skills>div{ 
    position: relative;
    top:-50px;
  }


}



@media screen and (max-height: 484px){
  section{
    min-height: 120vh;
    margin-bottom: 5px;
   
  }

  html,body, section{
    transition: 0ms;
  }

  section>div{
    margin-top: 5px;
    position: relative;
    top:0px !important;
    transition: 0ms !important;
  }



  #home .text-box{
    margin-bottom: 2px !important;
  }
}




@media screen and (max-width: 674px){


  .enviar{
    margin-top: 10px;
  }
  
  #projects .img-div, img{
    height: 100px !important;
    margin:0;
  }
  
  #projects h3{
    margin-top:20px;
  }

  #projects .text-box-description{
    display: none;
  }
  
  #projects .button-div{
    padding: 0;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  
  #projects .text-box{
    width: 80%;
    height: 255px;
    margin-top: 4px;
  }
  
  
  
  #projects .icon-section{
    margin-top: 2px;
  
  }
  
  .icon-section i{
    font-size: 18px;
  }
  
  .next,.prev{
    top:-140px;
    transform: scale(0.8);
  }
  
  .next{
    left: 34%;
  }
  
  .prev{
    left: -34%;
  }

  .numbertext{
    left:10%;
  }
  
  }



  @media screen and (max-width: 313px){
    #projects .icon-section{
      display: none;
    }
  }


