html {
  --color-1: #ffffff;
  --color-1-main: #FC466B;
  --color-1-bg: rgb(28, 40, 74);

  --linear-bg-1:  linear-gradient(90deg, #009dff 0%, #3a47d5 100%);

  --color-2-body:#686868;
  --color-2-bg: #f9f9f9;
  --color-2-bg-banner:#ffffff3e;
  --color-2-bg-img-div:#686868f0;



  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}




.dark {
  --color-1: #ffffff;
  --color-1-main: #07e3ac;
  --color-1-bg: rgb(13, 30, 24);

  --linear-bg-1:  linear-gradient(90deg, #0388d6 0%, #53d860 100%);
  --color-2-body:#ffffff;
  --color-2-bg: #282828;
  --color-2-bg-banner:#4a4a4af0;
  --color-2-bg-img-div:#ffffff56;
}

i{
  font-size: 18px;
  margin: 5px;
}


body {
  background: var(--color-2-bg);
  width: 100%;

}

.banner{
 
    z-index: 0;
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    text-align: center;
}




.parallax{
    /* The image used */
    background-image: url(../img/banner4.jpg) !important;
  ;
    /* Set a specific height */
  
    width: 80%;
    min-height: 590px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;

}

.parallax p{

    font-size: 2em;
}

nav{
  width: 100%;
}

a {
    text-decoration: none;
  }

.nav-options{
  text-align: left;
  position: absolute;
  left: 10%;
}



header li{
    list-style: none;
    display: inline-block;
    text-align: left;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var( --color-2-bg);
    border-width: 1px;
    border-style: solid;
    border-image: var(--linear-bg-1) 1;
    border-top:0;
    border-left:0;
    border-right:0;


    padding: 12px;
    text-align: right;
    vertical-align: middle;
 }

nav ul{
      margin-right: 40px;
}

#options{
  text-align: right;
}

header div, nav li{
      display: inline-block;
}



header nav a {
    display: inline-block;
    padding: 7px 16px;
    font-size: 1rem;
    color: var(--color-2-body);
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: semi-bold;
}

header p{
  display: inline;
  margin: 3px;
  color: var(--color-2-body);
}

header nav a:hover{
  transform: scale(1.1);
}


#home-button{
  padding: 0;
  margin: 0;
  margin-right: 10px;
 
}

header nav .active{
    background: var(--linear-bg-1);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: #ffffff; 
    transition: 0.5s ease-out;
    transform: scale(1.04);
}













.lang-list {
	display: inline-block;
  background-color: var(--color-2-bg);
	min-width: 10%;
  padding: 3px 6px;
  font-size: 1rem;
  color: var( --color-2-body);
 
  letter-spacing: 0.5px;
	border: none;
	cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  margin-left: 12px;
  margin-right: 28px;
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  vertical-align: middle;
  }
  
  
  .lang-list option {
	padding: 22px 16px;
  font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	display: block;
  }
  
  .lang-list:hover{
	transform: scale(1.04);
  }

    







  header label {
    display: inline-flex;
    width: 65px;
    height: 23px;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px;
    background: #e0dfdf;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
  }




  header label i {
    font-size: 18px;
  }
  header label .fa-sun {
    background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bolder;
    transition: 0.8s;
    opacity: 1;
    transform: translateX(37px);
  }


  header label .fa-moon {
    color: #fff;
    opacity: 0;
    transition: 0.8s;
  }



  header label .ball {
    position: absolute;
    display: block;
    width: 23px;
    height: 23px;
    top: 3px;
    left: 3px;
    background: #fff;
    border-radius: 50%;
    transition: 0.8s;
  }

header label {
  transition: 0.3s;
}
header input:checked + label {
  background: var(--linear-bg-1);
}
header input:checked + label .ball {
  transform: translateX(45px);
}
header input {
  display: none;
}



header input:checked + label .fa-sun {
    transform: translateX(37px);
    opacity: 0;
  }
  header label .fa-moon {
    transform: translateX(-37px) ;
  }
  header input:checked + label .fa-moon {
    transform: translateX(0), rotate(0);
    opacity: 1;
  }
  











  
  
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


section>div{
  width: 90%;
  margin: 10px;
  margin-bottom: 40px;
  margin-top: 50px;
}



section:nth-child(2) {
  color: var( --color-2-body);
}
section:nth-child(3) {
  color: var( --color-2-body);
}
  
section:nth-child(4) {
  color: var( --color-2-body);
}

section:nth-child(5) {
  color: var(--color-2-bg);
  background: var(--linear-bg-1)
}

section:nth-child(6) {
  color: var( --color-2-body);
}






section{
  text-align: center;
  align-content: center;
}




section .container {

  text-align: center;
  align-content: center;
}


section h1 {
  font-size: 3rem;
  margin: 20px;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


section h2 {
  margin-right: 8%;
  margin-left: 8%;
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  border-top:0;
  border-left:0;
  border-right:0;
}




section .text-container {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 95% !important;
}

.text-box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
  padding: 10px;
  width: 290px;
  height: 175px;
  border-radius: 20px;


  }




#about .text-box:hover, #education .text-box:hover, #skills .text-box:hover, #contact .text-box:hover{
  transform: scale(1.05);
}




section .text-container .text-box h3 {
  font-size: 15px;
  line-height: 1.2em;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 8px;
  color: var(--color-2-body);
  font-weight: 700;

}





section .text-container .text-box p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 6px;
  color:  var( --color-2-body);

}


section .text-container .text-box div{
  display: inline-block;
  margin-right: 5px;
} 

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}


.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}


.active.fade-left {
  animation: fade-left 1s ease-in;
}


.active.fade-right {
  animation: fade-right 1s ease-in;
}




.text-box-description{
  font-size: 14px !important;
}

.icon-section{
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  border-bottom:0;
  border-left:0;
  border-right:0;

}


.icon-div{
  margin: 3px;
  font-size:12px ;
  font-weight: 900;
  
}

.icon-div i{
  font-size: 25px;
  
  
}

.draw-legend{
  opacity: 0;
}


.draw-legend a{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.draw-container:hover .draw-legend{
  opacity: 1 !important;
}

.draw-legend, .draw-legend a{
  font-size: 13px !important;
}


.draw-container{
  display: inline-block;
}



.draw{
  height: 230px;
  vertical-align: text-top;
  padding: 10px;
  padding-top: 30px;
  text-align: center;
  opacity: 0.8;
 
}

#earth{
  height: 280px;
}




#home .icon-section{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.icon-div:hover{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: scale(1.05);

}

#home div{
  display: inline-block;
  padding: 20px;
}

#home p{
  font-size: 1.5em;
  display: block !important;
  color: var(--color-2-body);
}

#home h2{
  display: block;
  font-size: 3em !important;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

#home .icon-section, #home .icon-div{
  border: 0 !important;
  padding: 5px !important;
}


#home a{
  display: inline-block;
  color: var(--color-1-main);
 
  font-size: 14px;

}

#home i, #about i{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about .text-box{
  width: 500px;
}

.arrow-container{
  display: block !important;
  margin-top: 60px;
}



#about .text-box p{
  font-size: 18px;
  line-height: 1.6em;
  padding: 8px;
}


strong{

  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


#skills-title-text{
  border: 0;
  margin: 0;
  
}


.text-container-skills{
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;

}

.text-container-skills .icon-div, .text-container-skills h3{
  font-weight: 100 !important;
}

.text-container-skills .icon-div:hover, .text-container-skills .text-box:hover h3{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 !important;
}


.text-container-skills .text-box {
  margin: 5px;
  padding: 10px;
  text-align: left;
  width: 160px;
  height: 150px;
  background-color: var( --color-2-bg);
  

}

.text-container-skills p{
  margin: 11px;
}



#about p{
  font-size: 20px;
  text-align: left;

}



#hobbies{
  display: block;
  width: 97%;
  height: auto;
  background: var(--linear-bg-1);
  text-align: center !important;
  align-items: center;
    text-align: center;
  font-size: 16px;
  margin-top: 30px;
  padding: 3px;
  align-items: center;
  text-align: center;
  color: #ffffff !important;

}



.hobbie-container{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding: 2px; 

  align-items: center;
  text-align: center;
  color: #ffffff !important;
}


.hobbie-container p{
font-size: 12px !important;
color: #ffffff !important;
}

.hobbie-container i{

  font-weight: 700 !important;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}


.hobbie-container:hover{
  transform: scale(1.1);
}

.hobbie-container:hover p{
  opacity: 1;

}

#hobbies-title{
  text-align: center;
  color: #ffffff !important;
  font-size: 28px;
  margin-top: 25px;
  padding: 5px;
 
  border-bottom: 1px solid  #ffffffc2;
}

#hobbies-description{
  margin: 18px;
}



.arrow-container-skills{
  display: block;
  margin-top: 12px !important;
  padding: 0px !important;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.img-text-box{
  height: 95px;
  margin-bottom: 10px;
  background-color: var(--color-2-bg);
  border: 0;
  border-radius: 12px;
  box-shadow: 0px 5px 5px -4px rgba(46,46,46,0.75);
  -webkit-box-shadow: 0px 5px 5px -4px rgba(46,46,46,0.75);
  -moz-box-shadow: 0px 5px 5px -4px rgba(46,46,46,0.75);

}





#projects div{
  vertical-align: middle;
}

#projects .text-box {
  margin: 10px;
  display: inline-block;
  padding: 20px;
  width: 550px;
  height: auto;
  background: var( --color-2-bg);
  border-radius: 20px;
    background-color: var( --color-2-bg);
    box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);
    -webkit-box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);
    -moz-box-shadow: 0px 8px 7px -4px rgba(46, 46, 46, 0.509);

}





/* Slideshow container */
.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 11px;
  
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left:106%;
  border-radius: 3px 0 0 3px;
}


/* Position the "next button" to the right */
.prev {
  left: 25px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--color-2-body);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 19px;
  left: 25px;
}


.slide-circles{
  margin-left: 13% !important;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.projects-gallery .active, .dot:hover {
  background-color: #ffffff;
}

.projects-gallery:hover, .img-div:hover{ 
  transform: scale(1.05);
}


  #projects h3:hover{
    transform: scale(1.05);
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}










#projects .icon-section{
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-projects{
  text-align: left;
}



.header-projects li{
  display: inline-block;
  color: var(--color-1);
  margin-right: 13px;
  margin-top: 12px;
  margin-bottom: 7px;
}


#projects h2{
  

  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;
  border: 0; 
  border-bottom: 0.5px solid #ffffffba;
}

#projects h3{
  font-size: 16px;
}

#projects-description{
  margin-bottom: 15px;
}
 #projects .draw-container{
   margin:70px;
 }

#projects-draw{
  height: 200px;
}

#projects .draw-container a{
  color: var(--color-1);
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff; 
}




#projects .img-div {
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  height: 120px;
  margin: 20px;
  border-radius: 12px;

}


#projects .img-text-box{
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-2-bg);
  border: 0;
  border: 1px solid #5e5e5e4f;
  border-radius: 12px;

}

.projects-gallery, #projects .draw-container{
  display: inline-block !important;
}

.button-div{
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

#projects .button-div a{

  display: inline-block;
  padding:  8px;
  margin: 8px;

  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
  font-size: 16px;
  font-weight: 900;
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  cursor: pointer;



}











#projects .button-div a:hover{
  transform: scale(1.06);
  background: var(--linear-bg-1)!important;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;



}


#projects .button-div a p{
  display: inline-block;
  color:  var( --color-2-body);
  margin-top: 2px;
  
}

#projects .button-div a:hover p{
  color: var(--color-1) !important;
}

#projects .icon-section{
  display: block;
}



















#contact p, #contact a{
  display: inline;
  text-decoration:none;
  font-size: 19px;
  line-height: 25px;
}

#mail{
display: inline;
  text-decoration: none;
  background: var(--linear-bg-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#mail:hover{
  transform: scale(1.5);
}





.contact-info{
  display: inline-block;
  width: 420px;
  margin-right:70px;
}

.form-container{
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
  width:380px;
  height: 490px;
  border-width: 1px;
  border-style: solid;
  border-image: var(--linear-bg-1) 1;
  padding:6px;
  box-shadow: 7px 5px 12px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 7px 5px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 5px 12px -1px rgba(0,0,0,0.75);
}


form :nth-child(1){
  margin-top: 20px;
}


.input-contacto{
  background: var(--color-2-bg);
  vertical-align: middle;
  color:var( --color-2-body);
  border: 1px solid  var( --color-2-body);
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  margin-top: 5px;

}



.input-contacto::placeholder{
  font-family: 'Montserrat', sans-serif;
  color:  var( --color-2-body);
}



.contact-label{
  background: var(--color-2-bg)!important;
  position: relative;
  display: block;
  top: 14px;
  left: 38px;
  padding: 3px;
  width: fit-content;
  font-size: 11px;
  color: var(--color-2-body);
  font-weight: 500;
}





.input-contacto:focus{
  outline: none !important;
  font-family: 'Montserrat', sans-serif;
  border: 1.7px solid  var(--color-1-main);
}


.error-form{
	border: 1.5px solid  #e48704;
}


.error-form:focus{
	border: 1.7px solid  #e48704;
}


form span{
	display: block;
	color: #ea8b07;
  font-weight: 600;
	margin-top: 3px;
  font-size: 12px;
}




.enviar{
  width: 40%;
  position: relative;
  top: 20px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color:var(--color-2-bg);
  border:none;
  border-radius: 5px;
  cursor:pointer;
  margin-bottom: 10px;
}

.enviar:enabled{
  background-color:var(--color-1-main);
}

.enviar:enabled:hover{
  background-color:var(--color-1-main);
  transform: scale(1.06);
}



.enviar:disabled{
  background-color: #979797;
}


.fadeOut{
  opacity: 0;
}

.hide{
 display: none;
}

#message-success i{
  margin-top: 100px;
  margin-bottom: 20px;
  display: block;
  color: #0ddf48;
  font-size: 140px;
}

#message-success p{
  margin: 20px;
}

footer{
  text-align: center;
  background:var(--color-1-bg);
  padding:40px;
}


footer .icon-section {
  border: 0;
}

footer .icon-section i {
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #ffffff;
}

footer .icon-section i:hover{
  transform: scale(1.2);
}




.copyright{
  color:var(--color-1);
  font-size: 13px;
  margin:20px;

}




@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


